<!-- Loop over each user object -->
{{#each objs as |obj| }}
<div class="row align-center mb-5 ">
  <div class="col-md-6">
    <!-- Render user-specific data with Handlebars.js expressions -->
    <h2> {{obj.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3>{{obj.steps}}</h3>
  </div>
  <div class="drink-new">
    <button class="btn btn-sm btn-danger">New Drink</button>
  </div>
  <div class="drink-save">
    <button class="btn btn-sm btn-danger" data-name="{{obj.name}}" data-steps="{{obj.steps}}">Save Drink</button>
  </div>
</div>
{{/each}}

<script src="./js/drink.js"></script>
