 <span>
    <div class="drink-gen">
        <form class="text-center">
            <input type="search" id="drink" placeholder="Old Fashioned">
            <button class="btn btn-sm btn-danger">Find Cocktail</button>
        </form>
</span>

<div class="image" class="text-center">
    <img src="/images/cocktails_image_p2.jpeg" alt="Picture of a cocktail drink" class="about-image">
</div>

<script src="./js/homepage.js"></script>
