{{#each drink as |drink|}}
<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{drink.image}}" alt="Picture of selected cocktail drink">
    </div>
</div>
{{/each}}