  <div class="drink-gen text-center row-top">
    <button class="btn btn-lg btn-danger col-md-2 glow-button">Find Cocktail</button>
  </div>
  {{!-- about us section --}}
      <div class="text-center col-md p-5 mt-5">
        <h1 class="text-center">About Us</h1>
        <p class="text-center p-3 mt-3">Welcome to Cocktail Search! We made this for anyone wanting to try new cocktails. Simply use our random cocktail generator for a new drink idea. Once the drink is displayed then the steps to make the drink will appear as well so you can make it. If you like the drink you can save your search after logging in so your results won't be lost.</p>
      </div>
      <img  src="images/cocktails_image_p2.jpeg"  class="center">
<script src="./js/homepage.js"></script>