  <div class="drink-gen">
    <button class="btn btn-sm btn-danger">Find Cocktail</button>
  </div>
  {{!-- about us section --}}
      <div class="text-center">
        <h1 class="text-center">About Us</h1>
        <p class="text-center">Welcome to Cocktail Search! We made this for anyone wanting to try new cocktails. Simply use our random cocktail generator for a new drink idea. Once the drink is displayed then the steps to make the drink will appear as well so you can make it. If you like the drink you can save your search after logging in so your results won't be lost.</p>
      </div>
<script src="./js/homepage.js"></script>