  <div class="drink-gen">
    <button class="btn btn-sm btn-danger">Find Cocktail</button>
  </div>
{{!-- about us section ? --}
      <h1>
        <span>About</span>
        <a href="/about">About</a>
      </h1>

      {{!-- END OF ABOUT  --}}
<script src="./js/homepage.js"></script>