<div class="text-center">
  <h2>{{name}}</h2>

  <p>{{steps}}</p>


  <p class="deleteBTN">
    <button class="btn btn-primary btn-danger" data-id="{{id}}">DELETE</button>
  </p>


</div>

<script src="../js/saveddrinks.js"></script>