<!-- Loop over each user object -->
{{#each drinks as |drink| }}
<div class="row align-center mb-5 ">
  <div class="col-md-6">
    <!-- Render user-specific data with Handlebars.js expressions -->
    <h2><a href="/saveddrinks/{{drink.id}}">{{drink.name}}</a></h2>
  </div>
</div>


{{/each}}